@import url(http://fonts.googleapis.com/css?family=Carrois+Gothic+SC);
@font-face {
    font-family: "Dubba";
    src: url(../fonts/DubbaDubbaNF.ttf) format("truetype");
}
@font-face {
    font-family: "gloucester";
    src: url(../fonts/gloucester-mt-extra-condensed.ttf) format("truetype");
}
@font-face {
    font-family: "aurora";
    src: url(../fonts/aurora_bold_condensed_bt__2_.ttf) format("truetype");
}
@font-face {
    font-family: "sketch";
    src: url(../fonts/SketchRockwell-Bold.ttf) format("truetype");
}
@font-face {
    font-family: "aachen";
    src: url(../fonts/aachen-bt-roman.ttf) format("truetype");
}

body {
	background-color: #202122;
	background-image: url(../images/bd_top.png);
	background-position: top center;
	background-repeat: no-repeat;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
#top_bar{
	background: url(../images/pattern.png);
	background-repeat: repeat;
	height: 143px;
}
#logo img{
	height: 82px;
	width: 419px;
	margin-top: 35px;
}
#social{
	margin-top: 35px;
}
#social span{
	font-family: 'Carrois Gothic SC', sans-serif;
	float: right;
	margin-right: 26px;
	font-size: 30px;
}
#top_blue{
	height: 64px;
	background: #2f679f;
	font-family: 'Carrois Gothic SC', sans-serif;
	font-size: 45px;
	font-weight: 900;
	padding-top: 4px;
}
#heroic_list{
	background: black;
	height: auto;
	padding-bottom: 25px;
}
#heroic_list .col-md-10.col-md-offset-1{
	padding-left: 60px;
}
#heroic_list:after{
	content: "";
	background: url(../images/shadow.png) no-repeat;
	position: relative;
	height: 100px;
	top: 105px;
	padding: 60px 262px 126px 0px;
	z-index: 10;
	right: 15px;
}
#heroic_list:before {
content: "";
background: url(../images/shadow.png) no-repeat top right;
position: relative;
height: 100px;
top: 694px;
padding: 60px 262px 126px 0px;
z-index: 10;
left: 795px;
}
#heroic_list h1{
	color: #e7882e;
	font-family: "Dubba";
	font-size: 88.39px;
	margin-left: 50px;
}
#heroic_list li{
	list-style: none;
	font-family: "gloucester", Times;
	font-size: 43.2px;
}
#heroic_list img{
	float: left;
}
#gray{
	background: #636363;
	height: auto;
	position: relative;
	z-index: 15;
}
#black{
	background: black;
	height: auto;/*delete after*/ 
	padding-top: 90px;
	padding-bottom: 50px;
}
#black img.col-centered{
	position: absolute;
	top: -55px;
	left: 51px;
}
#options_head{
	background: #fc6000;
	margin-top: 65px;
	font-family: "aurora", Arial;
	font-size: 29.33px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
#options{
	background: #3f4142;
	border-radius: 10px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.65);
	border-right: 1px solid rgba(255, 255, 255, 0.47);
	border-top: 1px solid black;
	border-left: 1px solid rgba(0, 0, 0, 0.43);
	margin-bottom: 50px;
}
#options .col-md-6{
	padding-top: 20px;
}
#options .col-md-6 .row .col-md-12{
	padding-bottom: 10px;
	font-size: 17.54px;
}
#options input[type=radio] {
	width: 21px;
	height: 21px;
	position: relative;
	top: 5px;
}
#options select{
	font-size: 12px;
	color: black;
	min-width: 178px;
}
#options .col-md-12 h4{
	font-weight: bold;
	font-size: 20.83px;
}
#main_header{
	background: #f7da51;
	height: 120px;
	font-family: "sketch", Arial;
	font-size: 61.72px;
	color: black;
	padding-top: 20px;
}
#main_content{
	background: black;
}
.block h5{
	font-family: "aachen", Times;
	font-size: 24px;
	margin: 0;
}
.block h6{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #e67a22;
}
.block p{
	font-size: 16px;
}
#main_content .block {
	margin-top: 40px;
}
#block_wrapper{
	padding-bottom: 40px;
}
#gallery{
	background: #636363;
	
}
.image{
	width: 271px;
	height: 271px;
	background: white;
	margin: 40px 29px 0px 29px;
	float: none;
	padding-top: 11px;
}
.no_image{
	width: 250px;
	height: 250px;
	background: #c2c2c2;
	margin: 0 auto;
	float: none;
	text-align: center;
	padding-top: 90px;
}
.image_title{
	width: 271px;
	margin: 0px 29px 0px 29px;
	background: #ef5b00;
	padding: 10px;
	text-align: center;
}
.gallery_text{
	padding: 30px;
	font-size: 20px;
	margin-bottom: 70px;
}
footer{
	width: 100%;
}
footer ul li{
	list-style: none;
	display: inline;
	margin-right: 10px
}
footer ul li:after{
	content: "";
	border-right: 1px solid white;
	margin-left: 5px;
}
footer ul li:last-child:after{
	border-right: 1px solid #3f4142;
}
footer .footer-block{
	width: 964px;
	background: #3f4142;
}
footer img.label_img{
	float: right;
position: absolute;
right: 20px;
bottom: 10px;
}
.footer_nav{
	padding: 24px 0px 6px 0px;
	font-size: 18.37px;
	font-weight: bold;
}
footer ul {
	padding-left: 27px;
}
#facebook{
	height: 38px;
	width: 38px;
	background: url(../images/sprite_icons.png) top left;
	background-position: -3px 1px;
	margin-right: 0 !important;
}
#twitter{
	height: 38px;
	width: 38px;
	background: url(../images/sprite_icons.png) top left;
	background-position: -47px 1px;
	margin-right: 0 !important;
}
#linkedin{
	height: 38px;
	width: 38px;
	background: url(../images/sprite_icons.png) top left;
	background-position: -134px 0px;
	margin-right: 0 !important;
}
#youtube{
	height: 38px;
	width: 38px;
	background: url(../images/sprite_icons.png) top left;
	background-position: -92px 1px;
	margin-right: 0 !important;
}